*, *::before, *::after {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 7px;
  margin-right: 2px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #E30613 43%, #E30613 49%);
  border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #E30613 14%, #E30613 64%);
}

html::-webit-scrollbar-track {
  background: rgba(245, 245, 245, 0.88);
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
  box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Black.eot");
  src: local("ALS Hauss Black"), local("ALSHauss-Black"), url("ALSHauss-Black.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Black.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Black.woff") format("woff"), url("ALSHauss-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Book';
  src: url("ALSHauss-Book.eot");
  src: local("ALS Hauss Book"), local("ALSHauss-Book"), url("ALSHauss-Book.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Book.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Book.woff") format("woff"), url("ALSHauss-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Light.eot");
  src: local("ALS Hauss Light"), local("ALSHauss-Light"), url("ALSHauss-Light.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Light.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Light.woff") format("woff"), url("ALSHauss-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Book';
  src: url("ALSHauss-BookItalic.eot");
  src: local("ALS Hauss Book Italic"), local("ALSHauss-BookItalic"), url("ALSHauss-BookItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-BookItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-BookItalic.woff") format("woff"), url("ALSHauss-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Medium.eot");
  src: local("ALS Hauss Medium"), local("ALSHauss-Medium"), url("ALSHauss-Medium.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Medium.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Medium.woff") format("woff"), url("ALSHauss-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Hairline';
  src: url("ALSHauss-Hairline.eot");
  src: local("ALS Hauss Hairline"), local("ALSHauss-Hairline"), url("ALSHauss-Hairline.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Hairline.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Hairline.woff") format("woff"), url("ALSHauss-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Thin.eot");
  src: local("ALS Hauss Thin"), local("ALSHauss-Thin"), url("ALSHauss-Thin.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Thin.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Thin.woff") format("woff"), url("ALSHauss-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-RegularItalic.eot");
  src: local("ALS Hauss Regular Italic"), local("ALSHauss-RegularItalic"), url("ALSHauss-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-RegularItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-RegularItalic.woff") format("woff"), url("ALSHauss-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-BoldItalic.eot");
  src: local("ALS Hauss Bold Italic"), local("ALSHauss-BoldItalic"), url("ALSHauss-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-BoldItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-BoldItalic.woff") format("woff"), url("ALSHauss-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-ThinItalic.eot");
  src: local("ALS Hauss Thin Italic"), local("ALSHauss-ThinItalic"), url("ALSHauss-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-ThinItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-ThinItalic.woff") format("woff"), url("ALSHauss-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Bold.eot");
  src: local("ALS Hauss Bold"), local("ALSHauss-Bold"), url("ALSHauss-Bold.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Bold.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Bold.woff") format("woff"), url("ALSHauss-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-Regular.eot");
  src: local("ALS Hauss Regular"), local("ALSHauss-Regular"), url("ALSHauss-Regular.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-Regular.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-Regular.woff") format("woff"), url("ALSHauss-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-MediumItalic.eot");
  src: local("ALS Hauss Medium Italic"), local("ALSHauss-MediumItalic"), url("ALSHauss-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-MediumItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-MediumItalic.woff") format("woff"), url("ALSHauss-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-LightItalic.eot");
  src: local("ALS Hauss Light Italic"), local("ALSHauss-LightItalic"), url("ALSHauss-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-LightItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-LightItalic.woff") format("woff"), url("ALSHauss-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss Hairline';
  src: url("ALSHauss-HairlineItalic.eot");
  src: local("ALS Hauss Hairline Italic"), local("ALSHauss-HairlineItalic"), url("ALSHauss-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-HairlineItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-HairlineItalic.woff") format("woff"), url("ALSHauss-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("ALSHauss-BlackItalic.eot");
  src: local("ALS Hauss Black Italic"), local("ALSHauss-BlackItalic"), url("ALSHauss-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/AlsHouses/ALSHauss-BlackItalic.woff2") format("woff2"), url("../font/AlsHouses/ALSHauss-BlackItalic.woff") format("woff"), url("ALSHauss-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: 'ALS Hauss';
}

.nav-item a:focus {
  color: inherit;
}

.navbar .uk-nav-default > li > a {
  color: #1d1d1b;
}

.navbar .uk-nav-default .uk-nav-sub a {
  color: #1d1d1b;
}

.navbar .uk-dropdown {
  width: 340px;
  border-radius: 4px;
  border-top: 4px solid #E30613;
}

.navbar .uk-dropdown-nav > li > a {
  color: #1d1d1b;
  position: relative;
}

.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
  background-color: #1d1d1b;
  width: 350px;
}

.navbar .uk-offcanvas-close {
  position: static;
  padding: 0;
}

.navbar .uk-offcanvas-close svg {
  fill: #fff;
}

.navbar .uk-offcanvas-close svg:nth-child(2) {
  display: none;
}

.form-input::-webkit-input-placeholder {
  color: #1d1d1b;
  font-weight: normal;
}

.form .uk-nav-parent-icon > .uk-parent > a {
  font-size: 18px;
  color: #1d1d1b;
  font-weight: normal;
}

.form .uk-nav-parent-icon > .uk-parent > a::after {
  background-image: none;
  background-image: url(../img/svg/arrow-bottom.svg);
}

.form .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url(../img/svg/arrow-bottom.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#formcheck {
  border: 2px solid #E30613;
  border-radius: 6px;
}

#formcheck:checked {
  background: no-repeat center/auto url("../img/svg/check.svg");
}

.help-section {
  background-image: url("../img/main/help-backround.png");
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.story-section {
  background-image: url("../img/main/story-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.story-section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1b;
  opacity: 0.64;
}

.story-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.main-service-section-wrapper li {
  min-height: 300px;
}

.testimonials-section .main-testimonial-section-slider-item {
  min-height: 330px;
}

.testimonials-section .uk-dotnav > .uk-active > * {
  background-color: #E30613;
  border-radius: 0;
  width: 40px;
  height: 10px;
}

.testimonials-section .uk-dotnav > * > * {
  width: 10px;
  height: 10px;
  border-radius: 0;
  border: none;
  background-color: rgba(227, 6, 19, 0.36);
}

.testimonials-section * + .uk-margin {
  margin-top: 43px !important;
}

.clients-section {
  background-image: url("../img/main/client-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  position: relative;
}

.clients-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 49, 49, 0.12);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media (max-width: 1535px) {
  .form .uk-nav-parent-icon > .uk-parent > a {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .help-section {
    background-position: center;
  }
}

@media (max-width: 1200px) {
  .main-service-section-wrapper li {
    border: 1px solid #f7f7f7;
  }
  .main-speaker-section-content-wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 960px) {
  .help-section {
    background-image: url("../img/main/help-backround-mobile.png");
  }
}

@media (max-width: 640px) {
  .main-advantage-section-wrapper {
    border-bottom: none;
  }
  .main-digitals-section-wrapper li {
    min-height: 200px !important;
  }
  .main-speaker-section-content-wrapper {
    padding-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .main-digitals-section-wrapper li {
    min-height: 120px !important;
  }
}
/*# sourceMappingURL=main.css.map */